:root, body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.todo {
    cursor: pointer;    
}


.hide {
    display: none;
}

.edit {
    opacity: 0.5;
}

.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.w99 {
    width: 99%;
}
div {
    margin-bottom: 8px;
}

#theme-line {
 justify-content: end;
}

#main-container {
    justify-content: center;
}

#main-container>div {
    max-width: 50%;
}

#title-container {
    text-align: center;
}

#task-tool {
    justify-content: center;
}

#tasks-filter-line {
    justify-content: space-around;
}

.task-line {
    justify-content: space-between;
}

.task-line span {
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#app {
    border: 8px solid transparent;
}

#app.import {
    border-width: 8px;
    border-style: dashed;
}

.light {
    background-color: white;
    color: #222;
}

.dark {
    background-color: #222;
    color: white;
}

.light #app.import {
    border-color: white;
}

.dark #app.import {
    border-color: #222;
}

button {
    border-radius: 4px;
}

.light button {
    background-color: #fff;
    border-color: #fff;
    color: #222;
}

.dark button {
    background-color: #222;
    color: #fff;
    border-color: #000;
}

.done {
    text-decoration: line-through;
}

.light .done {
    text-decoration-color: #222;
}

.dark .done {
    text-decoration-color: #fff;
}