:root, body {
    margin: 0;
    padding: 0;
}

.todo {
    cursor: pointer;    
}

.done {
    text-decoration: line-through;
}

.hide {
    display: none;
}

.edit {
    opacity: 0.5;
}

#app {
    border: 8px solid transparent;
}

#app.import {
    border-width: 8px;
    border-style: dashed;
}

.light {
    background-color: #222;
    color: white
}

.dark {
    background-color: white;
    color: #222;
}

.light #app.import {
    border-color: white;
}

.dark #app.import {
    border-color: #222;
}

button {
    border-radius: 4px;
}

.light button {
    background-color: #222;
    color: #fff;
    border-color: #000;
}

.dark button {
    background-color: #fff;
    border-color: #fff;
    color: #222;
}
